# Created by .ignore support plugin (hsz.mobi)
Будет удалено .gitignore
Будет удалено .idea/codeStyleSettings.xml
Будет удалено .idea/dbnavigator.xml
Будет удалено .idea/deployment.xml
Будет удалено .idea/encodings.xml
Будет удалено .idea/jsLibraryMappings.xml
Будет удалено .idea/misc.xml
Будет удалено .idea/modules.xml
Будет удалено .idea/watcherTasks.xml
Будет удалено .idea/webServers.xml
Будет удалено .idea/workspace.iml
Будет удалено .idea/workspace.xml
Будет удалено 65/
Будет удалено 65err/
Будет удалено 70/
Будет удалено 72/
Будет удалено 75/
Будет удалено 78/
Будет удалено 86/
Будет удалено chatrooms/
Будет удалено ecma6/
Будет удалено express4_cms/
Будет удалено express4_photo/
Будет удалено kantor_module/
Будет удалено travel/.gitignore
