<% include top %>
<div class="wrapperContent administrator">
    <fieldset>
        <legend>Настройка шаблонов</legend>
        <div class="wrapperTable">
            <div class="table">
                <%- tableTemplate %>
            </div>
        </div>
        <div class="wrapperTable">
            <div class="table">
                <%- tableLesson %>
            </div>
        </div>
    </fieldset>
</div>



<% include bottom %>