<%if (locals.messages) { %>
<% messages.forEach(function(message) {
if(message.type=='error' || message.type=='readyOk'){ %>
<p class='<%= message.type %>'><%= message.string %></p>
<% }}) %> <% removeMessages() %>
<% } %>