<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/main.css" />
</head>
<body>
<% include menu %>
<h1><%= title %></h1>
<p>Заполните форму ниже, чтобы сохранить новый пароль!</p>
<% include messages %>
<form action="" method="post">
    <p>
        <input type="password" name="user[pass]" placeholder="Password" value=""/>
    </p>
    <p>
        <input type="submit" value="Сохранить новый пароль" />
    </p>

</form>
</body>
</html>