            </div>
            <div class="rightМenu">
                <div class="wrapperRightMenu">
                    <%-userRightMenu%>
                </div>
                <%-permit%>
            </div>
            <div class="wrapperTable">
                <div class="table">
                    <%- table %>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">

    </div>
</div>
</body>
</html>